*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #202124;
    flex-direction: column;
    color: whitesmoke;
    padding-bottom: 15px;
}
#tribute-info{
    padding-top: 15px;
    background-color: rgb(75, 70, 68);
    text-align: center;
    color: whitesmoke;
}

#image{
    margin-top: 10px;
    max-width: 250px;
    height: 250px;
    border: 5px solid #f3f705;
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}
li {
    font-size: larger;
    padding: 15px;    
}
#tribute-link {
  text-decoration: none;
  font-size: 30px;
  color: black;
  border: 3px solid black;
  border-radius: 20px;
  }

footer{
    background-color: #f3f705;
    text-align: center;
    padding: 15px;
}
/*falling leaves*/

.content{
    position: relative;
}
.leaves{
    position: absolute;
}

.leaf1 {
    position: absolute;
    font-size: 70px;
    top:0;
    animation: fall 5s linear infinite;
  }
  
  .leaf2 {
    position: absolute;
    font-size: 55px;
    top:0;
    animation: fall2 6s linear infinite;
  }
  
  .leaf3 {
    position: absolute;
    font-size: 40px;
    top:-400px;
    left:-100px;
    animation: fall 4s linear infinite 1s;
  }
  
  .leaf4 {
    position: absolute;
    font-size: 45px;
    top:-400px;
    left:300px;
    animation: fall2 4s linear infinite 1.5s;
  }
  
  .leaf5 {
    position: absolute;
    font-size: 55px;
    top:-410px;
    left:250px;
    animation: fall3 4s linear infinite 2s;
  }
  .leaf6 {
    position: absolute;
    font-size: 55px;
    top:-410px;
    left:-250px;
    animation: fall3 4s linear infinite 1.5s;
  }
  
  .leaf7 {
    position: absolute;
    font-size: 35px;
    top:-410px;
    left:-350px;
    animation: fall2 5s linear infinite .5s;
  }
  
  .leaf8 {
    position: absolute;
    font-size: 75px;
    top:-430px;
    left:550px;
    animation: fall3 5s linear infinite .5s;
  }
  
  .leaf9 {
    position: absolute;
    font-size: 35px;
    top:-430px;
    left:150px;
    animation: fall4 6s linear infinite .3s;
  }
  
  .leaf10 {
    position: absolute;
    font-size: 55px;
    top:-430px;
    left:450px;
    animation: fall5 3.7s linear infinite 1.3s;
  }
  
  .leaf11 {
    position: absolute;
    font-size: 55px;
    top:-430px;
    left:650px;
    animation: fall5 4.7s linear infinite 1.7s;
  }

  @keyframes fall {
    0% {top:-410px; transform: translateX(-100px) rotateX(180deg);}
    100% {top:400px; transform: translateX(250px) rotateX(-180deg);}
  }
  
  @keyframes fall2 {
    0% {top:-410px; transform: translateX(50px) rotateX(-90deg);}
    100% {top:400px; transform: translateX(-350px) rotateX(180deg);}
  }
  
  @keyframes fall3 {
    0% {top:-430px; transform: translateX(0px) rotateX(-180deg);}
    100% {top:400px; transform: translateX(-400px) rotateX(180deg);}
  }
  
  @keyframes fall4 {
    0% {top:-430px; transform: translateX(0px) rotateY(-180deg);}
    100% {top:400px; transform: translateX(-400px) rotateY(180deg);}
  }
  
  @keyframes fall5 {
    0% {top:-410px; transform: translateX(-100px) rotateY(180deg);}
    100% {top:400px; transform: translateX(250px) rotateY(-180deg);}
  }